# Flask et extensions
flask
flask-sqlalchemy
flask-migrate
flask-bcrypt
flask-jwt-extended
flask-cors
flask-mail

# Base de données
sqlalchemy
pymysql
cryptography
psycopg2-binary

# Serveur de production
gunicorn

# Utilitaires
python-dotenv
werkzeug
Authlib
requests
