.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    margin-bottom: 10px;
}

.header img {
    cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .labels {
        width: 100%;
        justify-content: flex-start;
    }
}